
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
  padding: 0;
}

.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button-search {
  color: #ffffff;
  background-color: #756157;
}

.newsletter-button {
  color: #ffffff;
  background-color: #82B3D3;
}

.product-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.button-disable {
  background-color: #82B3D3;
}

.button-active {
  background-color: #7DB54F;
}

.button-raiting {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  text-decoration: none;
}

.input {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color:#FFFFFF;
}

.input-blue {
  background-color: #82B3D3;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 507px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  max-width: 268px;
  margin-left: auto;
  list-style-type: none;
}

.navigation-user .navigation-link {
  min-width: 12px;
  min-height: 22px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.main-introduction {
  background-image: url("../images/landscape main page.jpg");
  color: #000000;
  background-color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-description {
  width: 651px;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
  padding: 69px 274px 90px 275px;
}

h2 {
  font-family: "PT Sans";
  font-style: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-description {
  margin: 0;
  padding: 69px 274px 90px;
}

.main-description p {
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.main-inner {
  color: #333333;
  background-color: #FFFFFF;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px;
}

.advantages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 92px 85px 111px;
  text-align: center;
  width: 230px;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12)
}

.advantages-title {
font-size: 24px;
line-height: 28px;
font-weight: 700;
text-transform: uppercase;
color: #000000;
margin-top: 0;
margin-bottom: 62px;
width: 175px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  width: 230px;
}

.advantages-item-blue {
  display: flex;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-title-blue {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.specifics {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.specifics-item {
  margin: 0;
  padding: 80px 85px 81px;
  width: 230;
}

.specifics-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12)
}


.specifics-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 30;
  margin-bottom: 30;
}

.specifics-description {
  text-align: center;
  width: 230px;
  margin: 0;
}

.searching {
  text-align: center;
  width: 592px;
  padding: 96px 304px;
}

.searching-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
}

.searching-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 54px;
}

.newsletter {
  width: 684px;
  padding: 96px 258px 104px;
  text-align: center;
  background-image: url("../images/blur subscribe.jpg");
  background-color: #000000;
  background-size: 100% auto;
}

.newsletter-hostel {
  width: 684px;
  padding: 96px 258px 104px;
  text-align: center;
  background-color: #FFFFFF;
  background-size: 100% auto;
}

.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 20px;
}

.newsletter-title-hostel {
  color: #000000;
}

.newsletter-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 54px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 70px 30px;
}

.social-media {
  width: 142px;
  margin-right: 41px;
}

.social-media-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-media-item {
  width: 47px;
  height: 40px;
  margin: 0;
}

.link {
  width: 115px;
  margin-left: 41px;
}

.contacts-phone-number {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.inner-header {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  padding: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-right: 28px;
}

.catalog-filters-line {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}

.input-data {
  width: 191px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0;
}

.index-columns:first-child {
  margin-top: 50px;
}

.index-columns:last-child {
  margin-bottom: 0;
}

.catalog-filters {
  display: flex;
}

.catalog-filter-group {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-hotels {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 1060px;
}

.sorting-container-header {
  display: flex;
  width: 1060px;
}

.sorting-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.heading-results-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-right: 200px;
  margin: 0;
}

.sort {
 width: 292px;
 margin-right: 70px;
}

.filtr-button {
  width: 292px;
  margin: 0;
  padding-left: 70px;
}

.filtr-button button {
  width: 16px;
  height: 17px;
}

.product-card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card {
  width: 340px;
  padding: 20px;
  margin-right: 20px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.product-card-description {
  text-decoration: none;
  color: #333333;
}

.product-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-transform: capitalize;
  text-decoration: none;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
