
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
  padding: 0;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-search {
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  background-color: #615048;
}

.button-search:disabled {
  background-color: #E5E5E5;
}

.newsletter-button {
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  border: 0;
  border-radius: 0 4px 4px 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.product-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.button-raiting {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  text-decoration: none;
}

.input[type="submit"] {
  display: inline-block;
  font-family: "PT Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color:#FFFFFF;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
}

input[type="reset"] {
  display: inline-block;
  font-family: "PT Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color:#FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  background: none;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-logo {
  position: absolute;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 339px;
  margin: 0;
  margin-left: 168px;
  padding: 0;
  list-style-type: none;
}


.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user {
  display: flex;
  margin-left: auto;
  list-style-type: none;
  width: auto;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
  padding: 0;
}

.navigation-item-button {
  margin-left: 20px;
}

.navigation-link-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  padding: 8px 34px;
  border-radius: 4px;
}

.navigation-link-button:hover {
  background-color: #615048;
}

.navigation-link-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-button:disabled {
  background-color: #E5E5E5;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-icon-favourite {
  position: absolute;
  top: 11px;
  right: 4px;
  bottom: 33px;
  left: 20px;
  margin: auto;
  fill: #000000;
}

.main-introduction {
  background-image: url("../images/landscape main page.jpg");
  color: #000000;
  background-color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-description {
  width: 651px;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
  padding: 69px 274px 90px 275px;
}

h2 {
  font-family: "PT Sans";
  font-style: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-description {
  margin: 0;
  padding: 69px 274px 90px;
}

.main-description p {
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.main-inner {
  color: #333333;
  background-color: #FFFFFF;
}


.welcome {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px;
}

.advantages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 103px 85px 121px;
  text-align: center;
  width: 230px;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12)
}

.advantages-item::after {
  flex-grow: 1;
  order: 2;
  margin: 30px 85px;
  width: 60px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-item-blue .advantages-item {
  padding: 92px 85px 111px;
}

.advantages-item-blue .advantages-item::after {
  flex-grow: 1;
  order: 2;
  margin: 30px 85px;
  width: 60px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-title {
font-size: 24px;
line-height: 28px;
font-weight: 700;
text-transform: uppercase;
color: #000000;
margin: 0;
width: 175px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  width: 230px;
  order: 3;
}

.advantages-item-blue {
  display: flex;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-title-blue {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.specifics {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.specifics-item {
  margin: 0;
  padding: 80px 85px 81px;
  width: 230;
}

.specifics-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12)
}


.specifics-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 30;
  margin-bottom: 30;
}

.specifics-description {
  text-align: center;
  width: 230px;
  margin: 0;
}

.searching {
  text-align: center;
  width: 592px;
  padding: 96px 304px;
}

.searching-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
}

.searching-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter {
  width: 684px;
  padding: 96px 258px 104px;
  text-align: center;
  background-image: url("../images/blur subscribe.jpg");
  background-color: #000000;
  background-size: 100% auto;
}

.newsletterform {
  display: flex;
}

.newsletter-hostel {
  margin: 0 auto;
  width: 684px;
  padding: 96px 258px 104px;
  text-align: center;
  background-color: #FFFFFF;
  background-size: 100% auto;
}

.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 20px;
}

.newsletter-title-hostel {
  color: #000000;
}

.newsletter-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 54px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 70px 30px;
}

.social-media {
  width: 142px;
  margin-right: 41px;
}

.social-media-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-media-item {
  margin: 0;
}

.footer-social-link {
  display: block;
  width: 47px;
  height: 40px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-vkontakte {
  fill: #83B3D3;
}

.icon-vkontakte:hover {
  fill: #68A2CA;
}

.icon-vkontakte:focus {
  fill: #68A2CA;
}

.icon-vkontakte:active {
  fill: rgba(104, 162, 202, 0.3);
}

.icon-telegramm {
  fill: #83B3D3;
}

.icon-telegramm:hover {
  fill: #68A2CA;
}

.icon-telegramm:focus {
  fill: #68A2CA;
}

.icon-telegramm:active {
  fill: rgba(104, 162, 202, 0.3);
}

.icon-youtube {
  fill: #83B3D3;
}

.icon-youtube:hover {
  fill: #68A2CA;
}

.icon-youtube:focus {
  fill: #68A2CA;
}

.icon-youtube:active {
  fill: rgba(104, 162, 202, 0.3);
}

.logo-html-academy {
  fill: #000000;
}

.logo-html-academy:hover {
  fill: #756157;
}

.logo-html-academy:focus {
  fill: #756157;
}

.logo-html-academy:active {
  fill: rgba(117, 97, 87, 0.3);
}

.link {
  width: 115px;
  margin-left: 41px;
}

.contacts-phone-number {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.contacts-phone-number:hover {
  color: #756157;
}

.contacts-phone-number:focus {
  color: #756157;
}

.contacts-phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.inner-header {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  padding: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-right: 28px;
}

.breadcrumbs-house {
  position: relative;
  margin-right: 4.5px;
}

.breadcrumbs-item:first-child::after {
  content: url("../images/arrow\ right.svg");
  margin-right: 10px;
}

.catalog-filters-line {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}

.range-wrapper-inputs {
  width: 287px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 41px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input {
  box-sizing: border-box;
  display: block;
  width: 143px;
  background: #F2F2F2;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: 1px solid #000000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.range-input:hover {
  border: none;
  box-shadow: none;
}

range-input:focus {
  box-shadow: none;
  border: 3px solid #83B3D3;
}

range-input:active {
  box-shadow: none;
  border: 2px solid #000000;
}

.left-range-input {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.right-range-input {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.range-wrapper-inputs::after {
  position: absolute;
  content: "от";
  width: 20px;
  height: 24px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #a9a9a9;
  background-color: transparent;
  left: 106px;
  top: 10px;
}

.range-wrapper-inputs::before {
  position: absolute;
  content: "до";
  width: 20px;
  height: 24px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #a9a9a9;
  background-color: transparent;
  left: 246px;
  top: 10px;
}

.catalog-filter-label {
  display: block;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  left: 0;
}

.input-data {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-left: 70px;
}

.catalog-column {
  display: flex;
  justify-content:space-between;
  margin-bottom: 40px;
  padding: 0;
}

.index-columns {
  display: flex;
  justify-content: column;
  margin-bottom: 40px;
  padding: 0;
}

.index-columns:last-child {
  margin-bottom: 0;
}

.catalog-filters {
  display: flex;
}

.catalog-filter-group {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-hotels {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 50px 70px 60px;
}

.sorting-container-header {
  display: flex;
}

.sorting-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting-type {
  margin-right: auto;
}

.card-grid {
  display: flex;
  justify-content: space-between;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 14px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 17px 16px;
  margin-right: 8px;
}

.card-grid-toggle:last-child {
  margin-right: 0;
}

.card-grid-toggle svg {
  fill: #000000;
}

.card-grid-toggle-current {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 14px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 17px 16px;
  margin-right: 8px;
}

.card-grid-toggle-current svg {
  fill: #000000;
}

.heading-results-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-right: 200px;
  margin: 0;
  width: 338px;
}

.select-control {
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.popular {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  padding: 0;
}

.sort {
 width: 292px;
 margin-right: 70px;
}

.product-card-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #E6E6E6;
}

.product-card-content {
  padding: 20px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 16px;
}

.product-card-texts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card-raiting {
  display: flex;
  justify-content: space-between;
}

.product-card-description {
  text-decoration: none;
  color: #333333;
  margin: 0;
}

.product-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0;
}

.product-card-image {
  object-fit: contain;
}

.four-stars {
  background-image: url("../images/star-raiting.svg");
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
